<ul ng-controller="videoController" class="video-list">
<!--   <video-list-entry ng-controller = "video-list-entry"><h5><em>videoListEntry</em> component goes here</h5></video-list-entry> -->
  <!-- <video-list-entry ng-controller="video-list-entry"><h5><em>videoListEntry</em></h5></video-list-entry> -->
  <video-list-entry ng-repeat="video in ctrl.video track by $index" video="video" ng-model="videoListEntry"></video-list-entry>
  <!-- <video-list-entry ng-model="videoListEntry" videos = {{videos}}><h5><em>{{videos}}</em></h5></video-list-entry> -->
  <!-- <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry> -->
</ul>

<!-- "video in ctrl.videos" -->